<form>
    <h2>Notice Form</h2>
    <div class="form-group">
        <input type="hidden" name="userName" value="{{data.0.name}}">
        <input type="hidden" name="noticeId" value="{{id}}">
        <div class="notice-group">
            <input type="text" placeholder="Add new notice" class="form-control title" name="title" required>
            <textarea id="textarea" type="text" placeholder="Your text here..." class="form-control text" cols="30" rows="10" name="text"></textarea>
            <input type="text" placeholder="Select Start date" class="form-control date" id="date_pickerStart" name="start" readonly required/>
            <input type="text" placeholder="Select End date" class="form-control date" id="date_pickerEnd" name="end" readonly required/>
            <div class="btn-group">
                <button id="data_submit" class="btn btn-success" type="submit" name="addNotice" disabled="true">Add</button>
                <button id="editBtn" class="btn btn-success hide" type="button" name="updateNotice">Save</button>
                <button id="cancelBtn" class="btn btn-warning" type="button" name="cancelEdit">Cancel</button>
                <button id="delBtn" class="btn btn-danger hide" type="button" name="delete">Delete</button>
            </div>
        </div>
    </div>
</form>