* {
    box-sizing: border-box;
}
::-moz-selection {
    background: #006699;
    color: #FFF;
}
::selection {
    background: #006699;
    color: #FFF;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #4d4d4d;
    background: #efefef;
}
h2{
    text-align: center;
}
a {
    text-decoration: none;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.main-header {
    background: #FFF;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
}
.mh-logo {
    margin: 0 0 -10px;
}

.loggedin{
    color:dimgrey;
    text-decoration: underline;
    margin-right: 10px;
}

.main-nav a {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #343534;
    text-decoration: none;
}
.main-nav ul {
    margin: 0;
    padding: 0;
}

.center {
    margin-top: 4em;
    text-align: center;
}
.center a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #F34A4E;
    border-bottom: 1px solid #F34A4E;
    transition: all .275s;
}
.center a:hover,
.center a:focus {
    opacity: 0.8;
    padding-bottom: 2px;
    border-bottom-color: rgba(243, 74, 95, .5);
}

/**
 * Flex & layout things:
 * — Mobile first
 * — Responsive
 */
img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 960px;
    max-width: 100%;
    padding: 0px;
    margin: 0 auto;
}
.main-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}
.main-nav li {
    display: inline;
}
.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
}

@media (min-width:960px) {
    .main-header .container {
        justify-content: space-between;
    }
}

/* LOGIN FORM*/
.login{
    /* background-image: url("../images/efcd5b8e.png");
    background-repeat: repeat; */
    width: 100%;
    height: 100%;
}
h1 {
    padding: 20px;
    color: dimgrey;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

/*  NoticeBoard   */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .dashboard {
        margin-bottom: 60px;
        padding: 0 25px 0 25px;
        display: flex;
        flex-direction: row;
        justify-content: center ;
    }
    .btns {
        text-align: center;
        padding-bottom: 40px;
    }

    /* Form */
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        align-items: center;
        margin: 0 auto;
    }
    form .form-group {
        width: 100%;
    }
    form .btn-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form .form-control {
        margin-bottom: 5px;   
    }
    form .text {
        margin-bottom: 10px;   

    }
    form input:nth-child(3) {
        margin-bottom: 20px;
    }

    form button {
        width: 200px;
        margin-bottom: 5px;
    }
    .btn {
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        justify-content: center;
    }

    /* Notices */
        .notices {
            padding-left: 10px;
            display: flex;
            justify-content: start;
            /* overflow: hidden; */
            white-space: nowrap;
            text-overflow: ellipsis;
        }
            .notices-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0 auto;
                overflow: auto;
                padding: 0;
            }
                .notice-item {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position: relative;
                    background: lightgray;
                    padding: 5px 10px;
                    border: solid 2px lightgray;
                    border-radius: 8px;
                    margin-bottom: 8px;  
                }

                .notice-item:hover{
                    background: #efefef;
                }
                    .image {
                        width: 50px;
                    }
                    .notice-content {
                        display: flex;
                        flex-direction: column;  
                        padding-left: 20px; 
                        flex: 2;          
                    }
                        .notice-title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0;
                            margin-bottom:0;
                            /* overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis; */
                        }
                        .notice-text {
                            display: none;
                        }
                        .notice-dates {
                            display: flex;
                            flex-direction: row;
                        }
                            .noticestart {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                            .noticeend {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding-left: 25px;
                            }


.hide {
    display: none;
}

.selected-item {
    border: solid 2px;
    border-color: lightskyblue;
    background-color: #efefef;
    transition: border-color .15s ease-in-out,box-shadow .20s ease-in-out;
}

/* Full screen switch buttons */

