    <div id="header">
        <h1>Condos App</h1>
        <h3>Name: {{data.0.name}}</h3>
        <input type="hidden" name="condoName" value="{{data.0.name}}">
    </div>

	<div id="sidebar-left">Left</div>
	<div id="main">

    </div>
	<div id="sidebar-right">Right</div>
	<div id="footer">Footer</div>

<div class="container content">
   

    <div class="content-notice">

        <button class="btn btn-success" type="button" id="notice_editor" name="ShowEditor" >Editor</button>
        {{#each data}}
         {{#if this.name}}
            {{> displayNoticeContent }}
         {{/if}}
        {{/each}}
        
    </div>

</div>
